/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



/* Style the header */
h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}



/* Style the buttons */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}



/* Style the table and table headers */
table {
    width: 100%;
    border-collapse: collapse;
}



th, td {
    padding: 10px;
    text-align: left;
}



th {
    background-color: #333;
    color: #fff;
}



/* Style the input fields and labels */
label {
    display: block;
    margin-bottom: 5px;
}



input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}



/* Style the "Apply Filters" button */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



/* Style the hidden containers */
#userTableContainer, #transactionTableContainer {
    margin: 20px;
}



/* Style the search input and button */
#userSearchInput {
    width: 50%;
    padding: 5px;
}



/* Style the visible table rows */
tr {
    transition: background-color 0.3s;
}



/* Highlight rows on hover */
tr:hover {
    background-color: #f5f5f5;
}