
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



#picture{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #C8F4F9;
}
.wrapperProfile,
.wrapperProfile .img-area,
.social-icons a,
.buttons button{
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
}
.wrapperProfile{
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapperProfile .icon{
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px;
}
.wrapperProfile .icon i{
    position: relative;
    z-index: 9;
}
.wrapperProfile .icon.arrow{
    left: 15px;
}
.wrapperProfile .icon.dots{
    right: 15px;
}
.wrapperProfile .img-area{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}
.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.wrapperProfile .name{
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
}



.wrapperProfile .about{
    color: #44476a;
    font-weight: 400;
    font-size: 16px;
}

.text {
    display: flex;
    justify-content: center;
    color: #059DC0;
    transform: translateY(-5px);
}


.wrapperProfile .social-icons{
    margin: 15px 0 25px 0;
}
.social-icons a{
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}
.social-icons a:hover::before,
.wrapperProfile .icon:hover::before,
.buttons button:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before{
    z-index: -1;
    border-radius: 5px;
}


.wrapperProfile .buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
}
.buttons button{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}
.buttons button:first-child{
    margin-right: 10px;
}
.buttons button:last-child{
    margin-left: 10px;
}
.wrapperProfile .social-share{
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

