*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.full-page*/
body
{
    height: 100%;
    width: 100%;
    background-image: url(img/5588377.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 50px 30px 20px 50px;
    background-color: white;
}
.create-form
{
    display: flex;
    justify-content: center;
    margin: 10px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: #04D4F0;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: pink;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: #EEB5EB;
}
nav ul li a:hover
{
    color: #EEB5EB;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
    height:480px;
    position:relative;
    margin:2% auto;
    background:rgba(0,0,0,0.3);
    padding:10px;
    overflow: hidden;
}
.button-box
{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn
{
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline: none;
    position: relative;
}
#btn
{
    top: 0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #C8F4F9;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login
{
    top: 150px;
    position:absolute;
    width:280px;
    transition:.5s;
}

.log
{
    width:380px;
    height:480px;
    position:relative;
    margin:2% auto;
    padding:10px;
    overflow: hidden;
}
.input-group-register
{
    top: 120px;
    position: absolute;
    width:280px;
    transition:.5s;
    /*display: flex;*/
    justify-content: center;
    /*align-items: center;*/
}
.input-field
{
    width: 100%;
    padding:5px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #C8F4F9;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box
{
    margin: 30px 10px 34px 0;
}
span
{
    color:#777;
    font-size:12px;
    bottom:68px;
    position:absolute;
}
#login
{
    left:50px;
}
#login input
{
    color:black;
    font-size:15px;
}
#register
{
    left:600px;
    top: 200px;
}
#register input
{
    color:black;
    font-size:15px;
}

.error
{
    color:red;
}

