<!DOCTYPE html>
<html>
<head>
    <title>Admin Portal</title>
    <link href="../static/AdminPortal.css" th:href="@{/AdminPortal.css}" rel="stylesheet"/>
</head>
<body>
<h1>Welcome to Admin Portal</h1>

<button onclick="showUsersTable()">Users</button>
<button onclick="showTransactionsTable()">Transactions</button>

<div id="userTableContainer" style="display: none;">
    <input type="text" id="userSearchInput" placeholder="Search by Email, Phone, or Username">
    <button onclick="searchUsers()">Search</button>
    <table border="1">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Admin</th>
            <th>Blocked</th>
            <th>Deactivated</th>
        </tr>
        </thead>
        <tbody id="userTableBody">
        </tbody>
    </table>
</div>

<div id="transactionTableContainer" style="display: none;">
    <h2>Transaction Filters:</h2>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate">
    <label for="senderFilter">Sender:</label>
    <input type="text" id="senderFilter">
    <label for="recipientFilter">Recipient:</label>
    <input type="text" id="recipientFilter">
    <button onclick="filterTransactions()">Apply Filters</button>
    <a th:href="@{/transactions/admin}"></a>

    <table border="1">
        <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Sender</th>
            <th>Recipient</th>
        </tr>
        </thead>
        <tbody id="transactionTableBody">
        </tbody>
    </table>
</div>

<script>
    function showUsersTable() {
        document.getElementById("userTableContainer").style.display = "block";
        document.getElementById("transactionTableContainer").style.display = "none";
    }

    function showTransactionsTable() {
        document.getElementById("userTableContainer").style.display = "none";
        document.getElementById("transactionTableContainer").style.display = "block";
    }

    function searchUsers() {

        var searchValue = document.getElementById("userSearchInput").value.toLowerCase();

        var userTableBody = document.getElementById("userTableBody");

        var rows = userTableBody.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var username = rows[i].getElementsByTagName("td")[0];
            if (username) {
                var usernameText = username.textContent || username.innerText;
                if (usernameText.toLowerCase().indexOf(searchValue) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }

    function filterTransactions() {

        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var senderFilter = document.getElementById("senderFilter").value.toLowerCase();
        var recipientFilter = document.getElementById("recipientFilter").value.toLowerCase();

        var transactionTableBody = document.getElementById("transactionTableBody");

        var rows = transactionTableBody.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var date = rows[i].getElementsByTagName("td")[0];
            var sender = rows[i].getElementsByTagName("td")[2];
            var recipient = rows[i].getElementsByTagName("td")[3];

            if (date && sender && recipient) {
                var dateText = date.textContent || date.innerText;
                var senderText = sender.textContent || sender.innerText;
                var recipientText = recipient.textContent || recipient.innerText;

                if (
                    (startDate === "" || dateText >= startDate) &&
                    (endDate === "" || dateText <= endDate) &&
                    (senderFilter === "" || senderText.toLowerCase().includes(senderFilter)) &&
                    (recipientFilter === "" || recipientText.toLowerCase().includes(recipientFilter))
                ) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>