<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seek coding</title>
    <link th:href="@{/Styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="full-page">
    <div class="navbar">
        <div>
            <img src="img/editlogo.png" th:src="@{/img/editlogo.png}">
        </div>
        <nav>
            <ul id='MenuItems'>
                <li><a href='#' th:href="@{/}">Home</a></li>
                <li><a href='#' th:href='@{/auth/login}'>Login</a></li>
                <li><a href='#' th:href="@{/auth/register}">Register</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="create-form">
    <form action="#" th:action="@{/card/create}" th:object="${cardDto}" method="post">

        <div class="input-group">
            <label for="cardHolder">Card Holder:</label>
            <input type="text" id="cardHolder" name="cardHolder" th:value="${cardDto.cardHolder}" required th:field="*{cardHolder}">
        </div><br>

        <div class="input-group">
            <label for="cardNumber">Card Number:</label>
            <input type="number" id="cardNumber" name="cardNumber" th:value="${cardDto.cardNumber}" required th:field="*{cardNumber}">
        </div><br>

        <div class="input-group">
            <label for="cvv">CVV:</label>
            <input type="number" id="cvv" name="cvv" th:value="${cardDto.cvv}" required th:field="*{cvv}">
        </div><br>

        <div class="input-group">
            <label for="expirationDate">Expiration Date:</label>
            <input type="text" id="expirationDate" name="expirationDate" th:value="${cardDto.expirationDate}" placeholder="MM/YY" required th:field="*{expirationDate}">
        </div><br>

        <div class="input-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

</body>

</html>
