<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Responsive Dashboard using HTML CSS and JavaScript</title>
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
            rel="stylesheet"
    />
    <link th:href="@{/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="./img/newlogo.png" th:src="@{/img/newlogo.png}"/>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Dashboard</h3>
            </a>
            <a href="#" class="active">
                <span class="material-icons-sharp">person_outline</span>
                <h3>Customers</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">settings</span>
                <h3>Settings</h3>
            </a>
            <a href="#" th:href="@{/auth/logout}">
                <span class="material-icons-sharp">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>

    <main>
        <h1>Welcome to VirtuPay!</h1>

        <form th:action="@{/index}" th:object="${wallet}">
            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Wallet</h3>
                            <h1 th:text="${wallet.getMoneyBalance()} + ' BGN'"></h1>
                        </div>
                        <div class="progress">
                            <div class="number">

                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <!------------ END OF SALES -------------->
        <div class="sales">
            <form th:action="@{/index}" th:object="${card}">
                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Card number</h3>
                            <h1 th:if="${card.getUser()}" th:text="${card.getCardNumber()}"></h1>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="income">
            <span class="material-icons-sharp">stacked_line_chart</span>
            <div class="middle">
                <div class="left">

                    <a th:action="@{/deposit}" href="#" class="btn" th:object="${cardTransactionDto}" method="get">Make Deposit</a>

                </div>
                <div class="progress">
                </div>
            </div>

        </div>
</div>


<div class="recent-orders">
    <h2 style="text-align: center;">Transactions</h2>


    <a th:href="@{/transactions}" href="#">Show All</a>
</div>
</main>
<!----------------- END OF MAIN -------------------->

<div class="right">
    <div class="top">
        <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
        </button>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        <div class="profile">
            <div class="info">

                <h2 class="text" th:text="${user.getUsername()}"></h2>
                <a th:href="@{/users/profile}" th:text="${'My Profile'}">My Profile</a>

            </div>
            <div class="profile-photo">
                <img src="" th:src="${user.getUserPhoto}">
            </div>
        </div>
    </div>
    <div class="item add-product">
        <div>
            <span class="material-icons-sharp">add</span>
            <a href="#" class="btn">Make transaction</a>
        </div>
    </div>
</div>
</div>
</div>

</body>
</html>