<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seek coding</title>
    <link th:href="@{/Styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="full-page">
    <div class="navbar">
        <div>
            <img src="img/editlogo.png" th:src="@{/img/editlogo.png}">
        </div>
        <nav>
            <ul id='MenuItems'>
                <li><a href='#'>Home</a></li>

                <li><a href='#' th:href='@{/auth/login}'>Login</a></li>
                <li><a href='#' th:href="@{/auth/register}">Register</a></li>
            </ul>
        </nav>
    </div>

    <div class="log">
        <form id='login' class='input-group-login' th:action="@{/auth/login}" th:object="${login}" method="post">
        <input type='text'class='input-field'placeholder='Username ' required th:field="*{username}">
        <input type='password'class='input-field'placeholder='Enter Password' required th:field="*{password}">
        <input type='checkbox'class='check-box'><span>Remember Password</span>
        <button type='submit'class='submit-btn'>Log in</button>
    </form>
    </div>

</div>
</div>
<script>
    var x=document.getElementById('login');
    var y=document.getElementById('register');
    var z=document.getElementById('btn');
    function register()
    {
        x.style.left='-400px';
        y.style.left='50px';
        z.style.left='110px';
    }
    function login()
    {
        x.style.left='50px';
        y.style.left='450px';
        z.style.left='0px';
    }
</script>
<script>
    var modal = document.getElementById('login-form');
    window.onclick = function(event)
    {
        if (event.target == modal)
        {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>
