<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="../static/MyProfile.css" th:href="@{/MyProfile.css}" rel="stylesheet">


</head>
<body>


<div id="picture">
    <div class="wrapperProfile">
        <div class="about">First Name:</div>
        <h2 class="text" th:text="${user.getFirstName()}"> firs name</h2>


        <div class="about">Last Name:</div>
        <h2 class="text" th:text="${user.getLastName()}"> last name</h2>


        <div class="about">Username:</div>
        <h2 class="text" th:text="${user.getUsername()}"> Username</h2>


        <div class="about"> Email:</div>
        <h2 class="text" th:text="${user.getEmail()}"> Email</h2>

        <div class="about">Phone number:</div>
        <h2 class="text" th:text="${user.getPhoneNumber()}"> Phone number</h2>

        <div class="buttons">
            <form  class="buttons" th:action="@{/users/update}" method="get">
                <button type="submit">Edit</button>
            </form>

        </div>

    </div>
</div>
</body>
</html>