<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seek coding</title>
    <link th:href="@{/Styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="full-page">
    <div class="navbar">
        <div>
            <img src="img/editlogo.png" th:src="@{/img/editlogo.png}">
        </div>
        <nav>
            <ul id='MenuItems'>
                <li><a href='#'>Home</a></li>
                <li>
                    <button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'"
                            style="width:auto;">Login
                    </button>
                </li>
            </ul>
        </nav>
    </div>

            <form id='register' class='input-group-register' th:action="@{/auth/register}" th:object="${register}" method="post">
                <input type='text' class='input-field' placeholder='Username ' required th:field="*{username}">
                <label class="error" th:errors="*{username}">Username error placeholder</label>
                <input type='password' class='input-field' placeholder='Enter Password' required th:field="*{password}">
                <label class="error" th:errors="*{password}">Password error placeholder</label>
                <input type='email' class='input-field' placeholder='Email' required th:field="*{email}">
                <label class="error" th:errors="*{email}">Email error placeholder</label>
                <input type='text' class='input-field' placeholder='Phone Number ' required th:field="*{phoneNumber}">
                <label class="error" th:errors="*{phoneNumber}">PhoneNumber error placeholder</label>
                <input type='text' class='input-field' placeholder='First Name' required th:field="*{firstName}">
                <label class="error" th:errors="*{firstName}">FirstName error placeholder</label>
                <input type='text' class='input-field' placeholder='Last Name ' required th:field="*{lastName}">
                <label class="error" th:errors="*{lastName}">LastName error placeholder</label>
                <input type='checkbox' class='check-box'><span>I agree to the terms and conditions</span>
                <button type='submit' class='submit-btn'>Register</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>
