<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Responsive Dashboard using HTML CSS and JavaScript</title>
    <!-- MATERIAL CDN -->
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
            rel="stylesheet"
    />
    <link th:href="@{/index.css}" rel="stylesheet"/>
    <!-- STYLESHEET -->
</head>
<body>
<div class="recent-orders">
    <h2 style="text-align: center;">Transactions</h2>
    <table>
        <thead>
        <tr>
            <th>Sender</th>
            <th>Amount</th>
            <th>Recipient</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody th:action="@{/transactions}" th:object="${transactions}">

        <tr th:each="transaction :${transactions}">
            <td th:text="${transaction.sender.username}"></td>
        <td th:text="${transaction.getAmount()}"></td>
            <td th:text="${transaction.recipient.username}" ></td>
            <td th:text="${transaction.getDate()}"></td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>